<h1>Planes List</h1>
<br>

<div class="container">
  <div class="row">
    <% @planes.each do |plane| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to plane_path(plane) do %>
          <% image_path = plane.photo.present? ? cl_image_path(plane.photo) : "" %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path %>');">
            <div class="card-category"><%= "#{plane.autonomy} km"%></div>
            <div class="card-description">
              <h2><%= plane.title %></h2>
              <p><%= "#{plane.description.first(160)}..." %></p>
            </div>
            <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          </div>
          <div class="card-footer">
            <ul class="list-inline">
              <li><%= plane.price %> €</li>
              <li><i class="fas fa-users"></i> <%= plane.capacity %> people</li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
