<div class="container planesIndexContainer">
  <div class="row cardsResults">
    <% @planes.each do |plane| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to plane_path(plane), class: "card-link-footer" do %>
          <% image_path = plane.photo.present? ? cl_image_path(plane.photo) : "" %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path %>');">
            <div class="card-category"><%= "#{plane.autonomy} km"%></div>
            <div class="card-description">
              <h2><%= plane.title %></h2>
              <p><%= "#{plane.description.first(160)}..." %></p>
            </div>
          </div>
          <div class="card-footer">
            <ul class="list-inline">
              <li><%= plane.price %> €</li>
              <li><i class="fas fa-users"></i> <%= pluralize plane.capacity, 'passenger' %></li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div
      id="map"
      style="width: 400px;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
