<div class="container">
   <div class="row">
     <div class="col-sm-4 col-sm-offset-4">
      <h3>Add a new plane</h3>
       <%= simple_form_for @plane do |f| %>
         <%= f.input :title %>
         <%= f.input :model %>
         <%= f.input :description %>
         <%= f.input :price %>
         <%= f.input :autonomy %>
         <%= f.input :capacity %>
         <%= f.input :airfield %>
         <%= f.input :registration_number %>
         <%= f.check_box :pilot %><span class="labelText">   Is There a Pilot in The plane ?</span>
         <%= f.submit %>
       <% end %>
     </div>
   </div>
 </div> 
