<div class="container">
  <%= render 'details', plane: @plane %>
  <div class="action">
    <div class="plane-delete-book">
      <div>
        <% if policy(@plane).destroy? %>
          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletePlaneModal">Delete My Plane</button>
        <% end %> <% if policy(@plane).update? %>
          <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editPlaneModal">Edit My Plane</button>
        <% end %>


        <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#newBookingModal">Book This Plane!</button>
      </div>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</div>
  <!-- Modal -->
<div class="modal fade" id="newBookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Booking for</h3>
        <h3><%= @plane.model %></h3>
        <h4>Please Confirm your Dates</h4>
      </div>
      <div class="modal-body" id="modalNewBookinBody">
        <%= simple_form_for [@plane, @booking], html: { style: "display: flex"} do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="modal-footer" id="modalNewBookingFooter">
          <%= f.button :submit, 'Book!', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPlaneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
      <%= render 'edit', plane: @plane %>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePlaneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">You are about to delete</h3>
        <h3><%= @plane.model %></h3>
        <h3>Are You Sure ?</h3>
      </div>
      <div class="modal-body" id="modaldeletePlane">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
        <%= link_to plane_path(@plane), method: :delete do %>
          <button type="button" class="btn btn-danger btn-lg">Delete My Plane</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Here some code for the reviews -->

<h2>
  <%= pluralize @plane.reviews.size, "review" %>
</h2>

<div id="reviews">
  <% if @plane.reviews.blank? %>
    Be the first to leave a review for <%= @plane.title %>
  <% else %>
    <% @plane.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  <% end %>
</div>

<%= render 'reviews/form', plane: @plane, review: @review %>

