  <div class="plane-title">
    <h1> <%= @plane.title %> </h1>
  </div>
  <div class="registration-model">
    Model : <%= @plane.model %> - Registrations number: <%= @plane.registration_number %>
  </div>
    <p class="plane-image"> <%= image_path = @plane.photo.present? ? (cl_image_tag @plane.photo, height: 300, width: 400, crop: :fill) : "" %> </p>
  <div class="description">
    <%= @plane.description %>
  </div>
  <div class="price-capacity">
    <i class="fas fa-euro-sign"></i> <%= @plane.price %> - <i class="fas fa-users"></i> <%= @plane.capacity %>
  </div>
  <div class="autonomy">
    Maximum distance : <%= @plane.autonomy %> kms
  </div>
  <div class="airfield">
    <i class="fas fa-map-marked-alt"></i> <%= @plane.airfield %>
  </div>
  <div class="pilot">
    Pilot : <% if @plane.pilot %>
              <i class="fas fa-check-circle"></i>
              <% else %>
              <i class="fas fa-times"></i>
            <% end %>
  </div>
  <div class="plane-delete-book">
    <div>
      <% if policy(@plane).destroy? %>
        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deletePlaneModal">Delete My Plane</button>
      <% end %> <% if policy(@plane).update? %>
        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editPlaneModal">Edit My Plane</button>
      <% end %> 
      
      
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#newBookingModal">Book This Plane!</button>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="newBookingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Booking for</h3>
        <h3><%= @plane.model %></h3>
        <h4>Please Confirm your Dates</h4>
      </div>
      <div class="modal-body" id="modalNewBookinBody">
        <%= simple_form_for [@plane, @booking], html: { style: "display: flex"} do |f| %>
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
        <div class="modal-footer" id="modalNewBookingFooter">
          <%= f.button :submit, 'Book!', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editPlaneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel editPlaneModal"></h3>
          <h3><%= @plane.model %></h3>
        </div>
          <div class="modal-body" id="modalEditPlaneBody">
            <%= simple_form_for @plane do |f| %>
            <%= f.input :title %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
            <%= f.input :model %>
            <%= f.input :description %>
            <%= f.input :price %>
            <%= f.input :autonomy %>
            <%= f.input :capacity %>
            <%= f.input :airfield %>
            <%= f.input :registration_number %>
            <%= f.check_box :pilot %><span class="labelText">  Is There A Pilot In The Plane ?</span>
            </div>
        <div class="modal-footer" id="modalNewBookingFooter">
          <button type="button" class="btn btn-secondary btn-lg" data-dismiss="modal">Cancel</button>
          <%= f.button :submit, "Update Plane's Info", class: 'btn btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deletePlaneModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document" style="border-radius: 20px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">You are about to delete</h3>
        <h3><%= @plane.model %></h3>
        <h3>Are You Sure ?</h3>
      </div>
      <div class="modal-body" id="modaldeletePlane">
        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Close</button>
        <%= link_to plane_path(@plane), method: :delete do %>
          <button type="button" class="btn btn-danger btn-lg">Delete My Plane</button>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

