<div class="container">
  <h1>Your bookings</h1>
  <br>
  <div class="row">
    <h3>My future bookings</h3>
    <% @bookings.each do |booking| %>
      <div class='col-xs-12 col-sm-6'>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1600x900/?plane,jet');">
          <div class="card-description">
            <h2> <%= booking.plane.title %> </h2>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-inline">
            <li><h4>Start Date: <%= booking.start_date %></h4></li>
            <li><h4>End Date: <%= booking.end_date %></h4></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h3>Future bookings for my planes</h3>
    <% @bookings_for_my_planes.each do |booking| %>
      <div class='col-xs-12 col-sm-6'>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/1600x900/?plane,jet');">
          <div class="card-description">
            <h2> <%= booking.plane.title %> </h2>
          </div>
        </div>
        <div class="card-footer">
          <ul class="list-inline">
            <li><h4>Start Date: <%= booking.start_date %></h4></li>
            <li><h4>End Date: <%= booking.end_date %></h4></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
