<div class="container">
  <div class="row">
    <h1>My future bookings</h1>
    <% @bookings.each do |booking| %>
      <div class='col-xs-12 col-sm-6'>
        <%= link_to plane_booking_path(booking.plane, booking) do %>
        <% image_path = booking.plane.photo.present? ? cl_image_path(booking.plane.photo) : "" %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path %>');">
          <div class="card-description">
            <h2> <%= booking.plane.title %> </h2>
          </div>
        </div>
        <% end %>
        <div class="card-footer">
          <ul class="list-inline">
            <li><h4>Start Date: <%= booking.start_date %></h4></li>
            <li><h4>End Date: <%= booking.end_date %></h4></li>
          </ul>
          <%= link_to 'Delete Booking', plane_booking_path(booking.plane, booking), method: :delete, data: { confirm: 'Are you sure ?'} %>
          <%= link_to 'Edit Booking', edit_plane_booking_path(booking.plane, booking) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h1>Future bookings for my planes</h1>
    <% @bookings_for_my_planes.each do |booking| %>
      <div class='col-xs-12 col-sm-6'>
        <%= link_to plane_booking_path(booking.plane, booking), class: "card-link-footer" do %>
        <% image_path = booking.plane.photo.present? ? cl_image_path(booking.plane.photo) : "" %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path %>');">
            <div class="card-description">
              <h2> <%= booking.plane.title %> </h2>
            </div>
          </div>
        <% end %>
        <div class="card-footer">
          <ul class="list-inline">
            <li><h4>Start Date: <%= booking.start_date %></h4></li>
            <li><h4>End Date: <%= booking.end_date %></h4></li>
          </ul>
          <h4>Status: <%= booking.status %></h4>
          <div class="btn-confirm">
            <%= link_to 'Confirm', confirm_path(booking), class: "card-link-footer", method: :patch %>
            <%= link_to 'Decline', decline_path(booking), class: "card-link-footer", method: :patch %>
          </div>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
