<h1>Planes List</h1>
<br>

<div class="container">
  <div class="row">
    <% @planes.each do |plane| %>
      <div class="col-xs-12 col-sm-6 index-cards">
        <%= link_to plane_path(plane), class: "card-link-footer" do %>
          <% image_path = plane.photo.present? ? cl_image_path(plane.photo) : "" %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path %>');">
            <% result_arr = [] %>
              <% plane.bookings.each do |booking| %>
                <% if booking.status == 'pending' %>
                  <% status = true %>
                <% else %>
                  <% status = false %>
                <% end %>
                <% result_arr << status %>
              <% end %>
            <% if result_arr.include?(true) %>
              <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/large-red-circle_1f534.png", class: "status-icon plane-card-icon" %>
            <% end %>
            <div class="card-category"><%= "#{plane.autonomy} km"%></div>
            <div class="card-description">
              <h2><%= plane.title %></h2>
              <p><%= "#{plane.description.first(160)}..." %></p>
            </div>
          </div>
          <div class="card-footer">
            <ul class="list-inline">
              <li><%= plane.price %> €</li>
              <li><i class="fas fa-users"></i> <%= plane.capacity %> people</li>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
