<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path do %>
    <div class="logo">
      <h3>Click&Fly</h3>
      <i class="fas fa-fighter-jet"></i>
    </div>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Add a Plane", new_plane_path, class: "navbar-wagon-item navbar-wagon-link" %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% result_arr = [] %>
<<<<<<< HEAD
          <% if user_signed_in? %>
=======
          <% if current_user %>
>>>>>>> bbce5ee2afb96c8af8dec79f1b66d3a32aeeb157
            <% current_user.planes.each do |plane| %>
              <% plane.bookings.each do |booking| %>
                <% if booking.status == 'pending' %>
                  <% status = true %>
                <% else %>
                  <% status = false %>
                <% end %>
                <% result_arr << status %>
              <% end %>
            <% end %>
          <% end %>
          <% if result_arr.include?(true) %>
            <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/large-red-circle_1f534.png", class: "status-icon avatar-icon" %>
          <% end %>
          <%= image_tag "https://avatars0.githubusercontent.com/u/45921830?s=400&v=4", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to 'Booking Manager', bookings_path %>
            </li>
            <li>
              <% if result_arr.include?(true) %>
                <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/large-red-circle_1f534.png", class: "status-icon dropdown-icon" %>
              <% end %>
              <%= link_to 'Plane Manager', myplanes_path(current_user) %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
          <% result_arr = [] %>
          <% if user_signed_in? %>
            <% current_user.planes.each do |plane| %>
              <% plane.bookings.each do |booking| %>
                <% if booking.status == 'pending' %>
                  <% status = true %>
                <% else %>
                  <% status = false %>
                <% end %>
                <% result_arr << status %>
              <% end %>
            <% end %>
          <% end %>
          <% if result_arr.include?(true) %>
            <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/large-red-circle_1f534.png", class: "status-icon burger-icon" %>
          <% end %>
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to 'Booking Manager', bookings_path %></li>
        <li>
          <% if result_arr.include?(true) %>
            <%= image_tag "https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/155/large-red-circle_1f534.png", class: "status-icon dropdown-icon" %>
          <% end %>

          <%= link_to 'Plane Manager', bookings_path %>
          </li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

