<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url('https://images.pexels.com/photos/91217/pexels-photo-91217.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');">
  <div class="banner-content">
    <div class="main-title">
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <%= form_tag planes_path, method: :get, class: 'form-inline' do %>
        <div class="form-group mx-sm-3 mb-2">
        <%= text_field_tag :where,
        params[:where],
        id: "inputCity",
        class: "form-control",
        placeholder: "City"
        %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
        <%= date_field_tag :start,
        params[:start],
        min: Date.today,
        placeholder: "Start date",
        class: "form-control"
        %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
        <%= date_field_tag :end,
        params[:end],
        min: Date.today,
        class: "form-control",
        placeholder: "Find a plane"
        %>
        </div>
        <div class="form-group mx-sm-3 mb-2">
        <%= number_field_tag :capacity,
        params[:capacity],
        min: 0,
        class: "form-control",
        placeholder: "Capacity"
        %>
        </div>
        <%= submit_tag 'Go!', class: 'btn btn-primary form-control' %>
      <% end %>
      </form>
    </div>
  </div>
</div>
