<div class="wrapper">
  <div class="container main-page">
    <div class="main-title"><h1>Click & Fly</h1></div>
      <%= form_for planes_search_path(@planes) do |f| %>
        <%= f.label :Airfield %>
        <%= f.text_field :airfield %>
        <%= f.label :capacity %>
        <%= f.text_field :capacity %>
        <%= f.label :StartDate %>
        <%= f.text_field :StartDate %>
        <%= f.label :EndDate %>
        <%= f.text_field :EndDate %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
